@charset "UTF-8";

	body {		overflow-y: scroll;	
				width:100%;
				height:100%;
				margin:0 auto;
				overflow-x: hidden;	
				font-family:"Georgia", sans-serif;
				}
	h2 {			padding-top:30px;}
	
	a {			display:block; 
				width:80px; height:80px;
				float:left;
				padding:10px; 
				}
	article, aside, details, figcaption, figure, main
	footer, header, hgroup, menu, nav, section{ display: block; } 			

	/**    HEADER        **
-------------------------------------------------------------------*/

	#headerMain {
			height:100px;
			width:100%;
			margin:0 auto;
	}
	
	#headerFolders{
		
		height:200px;
		width:100%;
		margin:0 auto;
		background-image:url('../pics/folderHeader.jpg');
		background-repeat:no-repeat;
		background-position:center;
	}
	
	.logo {
			width:250px;
			height:110px;
			float:left;
	}
.validation {
			float:left;
			margin-left:35px;
}
.errorm {
			margin-top:5px;
}
#linkInput {
			width:300px;
			margin-top:15px;
			height:20px;
			border:2px solid green;
			border-radius:10px;
			outline:none;}

#okButton {
			background:#39B54A;
			width:45px;
			line-height:15px;
			height:15px;
			color:#FFF;
			text-align:center;
			margin:10px;
			border-radius:5px;
			outline:none;
}
	/** VIDEORUTA **
-------------------------------------------------------------------*/
	#videoBoard {
			background: url(../pics/bk.jpg) center 0;
			clear:both;
			box-shadow: inset 0px 0px 30px 10px rgba(0,0,0,0.9);
			border-radius:25px;
			min-width:500px;
			min-height:600px;
			margin-top:80px;
			height:100%; 
			height:auto !important; 
			width:100% -2px;
			border:5px solid #000;
			overflow:hidden; /*http://stackoverflow.com/questions/3921761/floating-image-to-the-left-changes-container-divs-height*/

	}
	.vidSize { margin:0 auto;  width:500px;
    	padding-bottom: 70.3125%;
   	  height: 400px; overflow: hidden;
			background:#2D8C36;
			margin-bottom:35px;}
	iframe {border:0;}
	
	.videoWrapper
	{ 	width:425px;
		height:350px;
		
		}
	.draggy {
		cursor:move; display:inline;
		width:425px;
		height:350px;
		box-shadow:5px 5px 10px #160b02;
		padding:10px;
		background:#000;
		/*background:#2D8C36;*/
		margin:6px;
		margin-top:10px;
		float:left;
		border-radius:5px;
		
	}
	
	.exitButton{
				width:30px;
				height:30px;
				float:right;
				margin-right:7px;
				cursor:pointer;
				background-image:url('../pics/exitbutton.png');
	}
	
	
	/** MY FOLDERS*
---------------------------------------------------------------------- */	
	
	#load_folders{
					width:250px;
					padding:10px 0;
					height:20px;
					background:#39B54A;
					color:white;
					clear:left;
					text-align:center;
					font-size:1.3em;
					line-height:20px;
	}

	/** POPUP - MY FOLDERS*
---------------------------------------------------------------------- */	
	
	
	#popup {	position: absolute;
				min-width:250px;
				width:70%;
				min-height:300px;
				height:auto !important;
				top: 10%;
				z-index: 9999; 
				background-color: #FFF;
				border: 5px solid #2f0916;
				padding:45px;
				border-radius:10px;
				
				margin: 0 auto;
			  	left: 0;
			 	right: 0;
				}
	#popup  p {
		margin-top:30px;
		text-align:justify;
	}
	#popup  h2 {
		font-weight:bold;
		font-size:18px;
	}
	
	#mask{
	width:1500px;
	min-height:800px;
	height:100%;
	background:#000;
	position: absolute;
	z-index: 8888; 
	top:0;
	opacity:0.8;
}
	
		/** Anger sidansstorlek och placering*
---------------------------------------------------------------------- */	
#page {	width:90%; min-height: 800px; 
		height:100%; 
		height:auto !important; 
		margin:0 auto;
		background:#FFF;
		overflow:hidden;
		padding-bottom: 20px;}

